<h1>header section {{title}}</h1>


<div style="">
    <ul style="display: flex; justify-content: space-around; align-items: baseline; flex-direction: row;">
    <li><a href="/">home</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/help">help</a></li>
    </ul>
</div>